{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!
{% endblock %}

{% block body %}

	<div class="container">
		<h1 class="mt-4 border-bottom border-primary d-inline-block">Ajouter une catégorie</h1>
	</br>
	<div class="col-6 mt-4">
		{{ form(form) }}
		</div>
	</div>
{% endblock %}
